body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease;
}

header{
    
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    background:#ed6300;
}
.header{
    background: #ed6300;
}
form {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #666;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #b9855f;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #050404ab;
    color: white;
}

nav {
    background-color: #333;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
}

.main-content {
    padding: 0;
    margin-left:1.8cm;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f152;
}

/* Dark mode styles */
.dark-mode {
    background: black;
    color: #fff;
}

.dark-mode header {
    background-color:#ed6300;
    color: #fff;
}
.dark-mode .header {
    background-color:#ed6300;
    color:#fff;
}
.dark-mode nav {
    background-color: #000;
}

.dark-mode nav ul li {
    color: #fff;
}
.logo-1{
    display: flex;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;

}
#direction{
    color:#fff;

}
label {
    width:100px;
    height:50px;
    position: relative;
    display: block;
    background:#ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), insert 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition:0.3s;
}
label:after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top:0px;
    left:0px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
header input {
    width:0;
    height:0;
    visibility: hidden;
}
input:checked + label {
    background: #242424;
}
input:checked + label:after {
    left:100px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}
.menu {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li {
    position:absolute;
    list-style: none;
    transform-origin: 100px;
    transition:0.5s;
    transition-delay: calc(0.1s * var(--i));
}
.menu.active li {
    transform: rotate(calc(360deg / 5 * var(--i)));
}
.menu li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
}
.toggle {
    position: absolute;
    width: 6px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius:50%;
    cursor:pointer;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    font-size: 2em;
    transition: 1.25s;
}
.menu.active .toggle {
    transform: rotate(365deg);

}
ul {
    margin:0;
    padding:0;
}
nav {
    background-color: #333;
    position:fixed;
    bottom:0;
    width: 100%;
}
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
}
.nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    display: block;
}
.nav li a:hover {
    background-color: #555;
}